<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712935678121-a1oqneodpanvpvkkstkhimahadjkc4po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712935678121-a1oqneodpanvpvkkstkhimahadjkc4po</string>
	<key>API_KEY</key>
	<string>AIzaSyA3xTXaaTS7wh5-cuCF3q8ibGQxdorHzYw</string>
	<key>GCM_SENDER_ID</key>
	<string>712935678121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.hvloan.socialNetworkApp</string>
	<key>PROJECT_ID</key>
	<string>socialnetworkflutter-2ceab</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetworkflutter-2ceab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712935678121:ios:ef4c451f40076ea12e09b8</string>
</dict>
</plist>